<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.listview.shoplaptop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LienHe"/>
        <activity android:name=".activity.ChiTietSanPhamMoiNhat" />
        <activity android:name=".activity.ThongTinKhachHang" />
        <activity android:name=".activity.GioHang" />
        <activity android:name=".activity.ChiTietSanPham" />
        <activity android:name=".activity.Macbook" />
        <activity android:name=".activity.Lenovo" />
        <activity android:name=".activity.Hp" />
        <activity android:name=".activity.Asus" />
        <activity android:name=".activity.Dell" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>